$bTop-color: #d6a193;
$bgElements: #f6f6f6;
$btnColor: #EB4C4C;

@import url('https://fonts.googleapis.com/css?family=Text+Me+One');

body {
  font-family: sans-serif, Arial;
  color: #444;
}

p {
  font-size: .8em;
  text-align: justify;
}

button {
  padding: 10px;
  border: 1px solid $btnColor;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: transparent;
  color: $btnColor;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
  outline: none;

  &:hover {
    cursor: pointer;
    background-color: white;
  }
}


@import "partials/main";
@import "partials/mobile";
@import "partials/desktop";
