@import url("https://fonts.googleapis.com/css?family=Text+Me+One");
body {
  font-family: sans-serif, Arial;
  color: #444;
}

p {
  font-size: .8em;
  text-align: justify;
}

button {
  padding: 10px;
  border: 1px solid #EB4C4C;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: transparent;
  color: #EB4C4C;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
  outline: none;
}
button:hover {
  cursor: pointer;
  background-color: white;
}

@keyframes kick-arrow {
  to {
    bottom: 200px;
    opacity: 1;
  }
}
div.info-contato {
  width: 100%;
  background: rgba(246, 246, 246, 0.5);
  min-height: 30px;
  display: none;
}

header {
  height: 50%;
  background-image: url("../res/header.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
header .text {
  width: 100%;
  position: relative;
  text-align: center;
}
header .text p {
  padding: 5px 40px;
  background: rgba(240, 240, 240, 0.5);
  top: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  text-align: center;
}
header .text p:first-child {
  animation: show-text-120 1s ease-in forwards;
  font-size: 8em;
  padding-bottom: 40px;
}
@keyframes show-text-120 {
  to {
    opacity: 1;
    top: 120px;
  }
}
header .text p:not(:first-child) {
  top: 280px;
  background: none;
  font-size: 1.5em;
  letter-spacing: 10;
  animation: show-text- 1s ease-in forwards;
  animation-delay: 1s;
  animation-duration: .5s;
}
@keyframes show-text- {
  to {
    opacity: 1;
  }
}
header .arrow {
  width: 50px;
  height: 30px;
  position: absolute;
  bottom: 195px;
  margin: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-top: 30px rgba(214, 161, 147, 0.4) solid;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  opacity: 0;
}
header .arrow.kick {
  animation: kick-arrow .8s alternate infinite;
}
header div.cabecalho {
  transition: background .3s ease-in;
  display: flex;
  flex-direction: column;
}
header div.cabecalho img {
  padding: 5px;
  width: 80px;
  height: 80px;
  display: inline-block;
}
header menu {
  display: inline-block;
  margin-left: auto !important;
}
header menu div {
  width: 100%;
  margin-left: auto;
  order: 2;
  color: #444;
}
header menu div nav {
  font-weight: 400;
  display: inline;
  margin: 5px;
  padding: 10px;
  text-align: center;
}
header menu div nav::before {
  width: 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  content: '';
  transition: width .3s ease-in-out;
}
header menu div nav:hover {
  cursor: pointer;
}
header menu div nav:hover::before {
  content: '';
  width: 100%;
  height: 3px;
  background: white;
}

section.servicos, section.equipe {
  width: 90%;
  margin: auto;
  text-align: center;
}

section {
  margin-top: -30px !important;
  opacity: 0;
  min-height: 300px;
  transition: margin-top .7s ease-in, opacity .5s ease-in;
}
section figure {
  overflow: hidden;
}
section.show {
  opacity: 1;
  margin-top: 0 !important;
}
section h3 {
  margin-bottom: 0;
  font-family: "Text Me One";
}
section.servicos div.col {
  border-top: 5px solid #d6a193;
  background-color: #f6f6f6;
  min-height: 150px;
  padding-top: 10px;
}
section.sobre figure {
  position: relative;
  margin-bottom: 0;
}
section.sobre figure::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(214, 161, 147, 0.5);
  z-index: 9;
  top: 0;
  left: 0;
}
section.sobre h3 {
  margin-bottom: 20px;
}
section.sobre p {
  font-size: .8em;
  text-align: justify;
}
section.sobre div.col-md-4 {
  padding: 0;
}
section.sobre div.col-md-4 img {
  width: 100%;
}
section.sobre div.col-md-8 {
  padding: 30px;
  background-color: #f6f6f6;
}
section.equipe {
  padding: 20px;
}

footer {
  margin-top: 150px;
  min-height: 280px;
  background-color: #EB4C4C;
  color: white;
  position: relative;
  font-family: "Text Me One", sans-serif;
  padding: 40px;
  font-size: 0.9em;
}
footer > .row > div[class^="col-"]:not(:first-child) {
  margin-top: 30px;
}
footer .col-md-3 div {
  margin-bottom: 10px;
}
footer img {
  width: 0.9em;
  height: 0.9em;
}
footer h5 {
  position: relative;
}
footer h5::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: #f6f6f6;
  bottom: -5px;
  left: 0;
}
footer img {
  margin-right: 5px;
  margin-bottom: 5px;
}
footer a, footer a:visited, footer a:hover {
  color: white;
}
footer .footer-sticker {
  position: absolute;
  bottom: 0;
  background-color: #fd6b6b;
  width: 100%;
  text-align: center;
  line-height: 20px;
  padding-top: 10px;
  left: 0;
}
footer .footer-sticker label {
  font-size: 12pt !important;
}
footer input, footer textarea {
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px #eee solid;
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
}
footer .fale-conosco label {
  margin-bottom: .1rem;
}
footer .fale-conosco .col-md-6 {
  padding-left: 0;
}
footer .fale-conosco .message textarea {
  height: 130px;
}
footer .fale-conosco .message button {
  border-color: white;
  width: 100%;
  padding: 5px;
  color: white;
  outline: none;
  height: 50px;
}
footer .fale-conosco .message button:hover {
  color: #EB4C4C;
}
footer .fale-conosco .info .col-md-6 {
  padding-left: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  body {
    position: relative;
  }

  header {
    background-size: 100% 100%;
    height: 80%;
  }

  section.sobre div.col-md-4 img {
    width: 260%;
  }
  section.servicos div {
    margin: 10px 25px;
  }
  section.equipe div {
    margin: 10px 25px;
  }
  section.show {
    margin-top: 30px !important;
  }

  footer {
    font-size: 8pt;
    padding: 30px;
  }
  footer img {
    width: 15px;
    height: 15px;
  }
  footer [class^="col"] > label {
    font-size: 12pt;
  }
  footer .fale-conosco {
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 1024px) {
  section.show {
    margin-top: 100px !important;
  }
  section.servicos {
    opacity: 1 !important;
  }
  section.sobre div.col-md-4 img {
    width: 170%;
  }

  footer .row div[class^="col-"]:not(:first-child) {
    margin-top: 0;
  }
  footer .horario-funcionamento {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1026px) {
  header {
    background-size: 100% 100%;
  }
  header .text {
    display: none;
  }
  header button.trigger-menu {
    border: none;
    outline: none;
    background-color: rgba(130, 51, 163, 0.5);
    display: block;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 0;
    margin: 5px;
    background-image: url("../res/icones/menu_hamb.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 50%;
    filter: brightness(1);
  }
  header button.trigger-menu .dash {
    width: 80%;
    height: 2px;
    background: white;
    margin: auto;
    margin-top: 2px;
  }
  header button.trigger-menu .dash:not(:first-child) {
    margin: 10px auto;
  }
  header .ic {
    width: 40px;
    height: 40px;
    display: block;
    margin: 20% auto 2px auto;
  }
  header .ic.ic-home {
    background: url("../res/icones/ic_home.svg") no-repeat center;
  }
  header .ic.ic-servicos {
    background: url("../res/icones/ic_dente.svg") no-repeat center;
  }
  header .ic.ic-sobre {
    background: url("../res/icones/ic_sobre.svg") no-repeat center;
  }
  header .ic.ic-equipe {
    background: url("../res/icones/ic_equipe.svg") no-repeat center;
  }
  header .ic.ic-fale-conosco {
    background: url("../res/icones/ic_fale_conosco.svg") no-repeat center;
  }
  header p, header .arrow {
    display: none !important;
  }
  header div.cabecalho {
    transition: background .3s ease-in;
    height: 100%;
    margin: auto;
  }
  header div.cabecalho.fix {
    position: relative;
  }
  header div.cabecalho img {
    width: 250px;
    height: 250px;
    margin: auto;
  }
  header div.cabecalho .menu {
    display: flex;
  }
  header menu {
    transition: left .5s ease-in;
    position: fixed;
    overflow: hidden;
    left: -150px;
    top: -20px;
    height: calc(100vh + 20px);
    padding: 0px;
    z-index: 9999;
    box-shadow: 6px 0 20px -10px black;
    background: #FEA68F;
  }
  header menu.show {
    left: 0;
  }
  header menu div nav {
    display: block;
    text-align: center;
    margin: 0;
    padding: 5px;
    color: white;
    text-align: center;
    font-size: 8pt;
    overflow: hidden;
  }
  header menu div nav div {
    color: white;
    margin: auto;
  }
  header menu div nav[section="header"] {
    background-color: #D6A193;
  }
  header menu div nav[section="servicos"] {
    background-color: #E9A897;
  }
  header menu div nav[section="sobre"] {
    background-color: #F2AF9D;
  }
  header menu div nav[section="equipe"] {
    background-color: #FFB9A6;
  }
  header menu div nav[section="footer"] {
    background-color: #FEA68F;
  }

  section.servicos div {
    margin-top: 10px;
  }
  section.sobre h3 {
    text-align: center;
  }
  section.show {
    margin-top: 30px !important;
  }

  footer .horario-funcionamento {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  header {
    height: 970px;
  }
  header p, header .cabecalho img, header .arrow {
    display: initial !important;
  }
  header button.trigger-menu {
    display: none;
  }
  header div.cabecalho.fix {
    position: fixed;
    top: 0;
    width: 100%;
    background: #f6f6f6;
    z-index: 999;
    box-shadow: 0 -5px 15px #444444;
  }
  header div.cabecalho.fix menu nav:hover::before {
    background: #d6a193;
  }
  header div.cabecalho.fix div.info-contato {
    background: rgba(231, 231, 231, 0.5);
  }
  header div.cabecalho .menu {
    display: flex;
    align-items: center;
  }
  header div.cabecalho .menu div nav {
    position: relative;
  }
  header div.cabecalho div.contato {
    font-size: 9pt;
    font-family: sans-serif;
    font-weight: 600;
    display: inline-block;
    line-height: 30px;
  }
  header div.cabecalho div.contato img {
    width: 30px;
    height: 30px;
  }
  header div.cabecalho .btn-consulta {
    float: right;
    margin-right: 10px;
    border-radius: 0;
    border: none;
    background: #d6a193;
    color: white;
    font-size: 9pt;
    font-family: sans-serif;
    outline: none;
  }
  header div.cabecalho .btn-consulta:hover {
    background: #e1bbb1;
  }

  .col {
    flex: 1 0 0 !important;
  }

  section.equipe div {
    margin: 0;
  }
  section.sobre div.col-md-4 img {
    width: 130%;
  }
  section.servicos div {
    margin: 10px 25px;
  }
}

/*# sourceMappingURL=main.css.map */
