@import '../../../assets/css-breakpoints-mixin.scss';

:host {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 960px;
    margin: auto;

    @include media(big-desktop-up) {
        max-width: 1440px;
    }
}

swiper {
    width: 100%;
}

.membro {
    width: 100%;
}