doctype html
html(lang="pt-br")
    meta(name="viewport"
        content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    title OrthoDesign - Odontologia Contemporânea
    link(href="scss/bootstrap.min.css", rel="stylesheet")
    link(rel="stylesheet" href="scss/main.css")
    script(src="js/jquery-3.3.1.min.js")
    link(rel="apple-touch-icon" sizes="180x180" href="res/icones/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="res/icones/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="res/icones/favicon-16x16.png")
    link(rel="mask-icon" href="res/icones/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
    meta(name="description" content="Consultório de Odontologia no Eusébio")
    meta(property="og:site_name" content="OrthoDesign")
    meta(property="og:title" content="Odontologia Contemporânea")
    meta(property="og:description" content="Consultório de Odontologia no Eusébio")
    meta(property="og:image" itemprop="image" content="http://www.orthodesign.com.br/res/ortho_300.png")
    meta(property="og:url" content="http://www.orthodesign.com.br/")
    meta(property="og:type" content="website")
    meta(property="og:locale" content="pt_BR")

    body
        header
            button.trigger-menu(onclick="$('menu').toggleClass('show')")
            div.cabecalho
                div.info-contato
                    div.contato
                        span
                        | <img src="res/icones/ic_wpp.svg" style="filter: invert(1)"></img>
                        | (85) 98195-0931
                    button.btn-consulta Marque uma consulta
                div.menu
                    img(src="res/ortho.svg")
                    menu
                        div
                            nav(section="header") <i class="ic ic-home"></i> Home
                            nav(section="servicos") <i class="ic ic-servicos"></i> Serviços
                            nav(section="sobre") <i class="ic ic-sobre"></i> Sobre nós
                            nav(section="equipe") <i class="ic ic-equipe"></i> Equipe
                            nav(section="footer") <i class="ic ic-fale-conosco"></i> Fale Conosco
            div.text
                p OrthoDesign
                p Odontologia Contemporânea

            div.arrow.kick
        main.container-fluid
            section.servicos
                div
                    h3 Serviços
                    span Conheça nossos serviços personalizados para você
                div.row
                    div.col.col-12.col-md-5
                        h5 Prótese Dentária
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                    div.col.col-12.col-md-5
                        h5 Cirurgia
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                    div.col.col-12.col-md-5
                        h5 Ortodontia
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                    div.col.col-12.col-md-5
                        h5 Odontopediatria
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

            section.sobre
                div.row
                    div.col-md-8
                        h3 Sobre nós
                        h5 Atendimento Personalizado
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa

                        h5 Atendimento
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irur

                        button Marque sua Consulta
                    div.col-md-4
                        figure
                            img(src="res/sobre_img.png")

            section.equipe
                h3 Nossa Equipe
                span Conheça nossa equipe
                div.row
                    div.col.col-lg-5.col-md-12.doutor
                        figure
                            img(src="res/doctor.png")
                        figcaption
                            label John Dow
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                    div.col.col-lg-5.col-md-12.doutor
                        figure
                            img(src="res/doctor.png")
                        figcaption
                            label John Dow
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                    div.col.col-lg-5.col-md-12.doutor
                        figure
                            img(src="res/doctor.png")
                        figcaption
                            label John Dow
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                    div.col.col-lg-5.col-md-12.doutor
                        figure
                            img(src="res/doctor.png")
                        figcaption
                            label John Dow
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur

        footer
            div.row
                div.col-lg-3.col-md-12
                    h5 Nosso Endereço
                    div
                        img(src="res/icones/ic_location.svg")
                        span R. Santa Adélia, 179 - lojas 4 e 5 <br/>Centro, Eusébio

                div.col-lg-3.col-md-12
                    h5 Contato
                    div
                        img(src="res/icones/ic_email.svg")
                        span <a href="mailto:orthodesigneusebio@gmail.com">orthodesigneusebio@gmail.com</a>
                    div
                        img(src="res/icones/ic_wpp.svg")
                        span (85) 98195-0931
                    div
                        img(src="res/icones/ic_instagram.svg")
                        span
                            a(href="instagram.com/othodesignodontologia") @othodesignodontologia
                    div
                        img(src="res/icones/ic_facebook.svg")
                        span
                            a(href="facebook.com/orthodesignodontologia") /orthodesignodontologia


                div.col-lg-6.col-md-12.horario-funcionamento
                    h5 Horário de Funcionamento
                    div.row
                        div.col-md-7.col-6
                            label Segunda - Sexta
                        div.col-md-5.col-6
                            span 08:00 - 18:00
                        div.col-md-7.col-6
                            label Sábado
                        div.col-md-5.col-6
                            span 08:00 - 12:00
                        div.col-md-7.col-6
                            label Domingos e Feriados
                        div.col-md-5.col-6
                            span Fechado


            div.footer-sticker
                div.col
                    label &copy; 2017 <b>Ortho Design.</b> Todos os direitos reservados.

    script(src="js/main.js" type="text/javascript")