@import "../../../assets/css-breakpoints-mixin.scss";

:host {
    display: flex;
    padding: 70px 30px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 960px;
}

.titulo {
    @include media(mobile, tablet, desktop) {
        width: 100%;
        align-self: flex-start;
    }

    @include media(desktop-up, big-desktop-up) {
        width: auto;
    }

    @media screen and (width: 1440px) {
        width: 30%;
    }

    div {
        line-height: 35px;
    }
    h1,
    h2 {
        width: 193px;
    }
}

.c-swipper {
    width: 100%;

    @include media(desktop-up) {
        width: 130%;
    }

    ::ng-deep {
        .swiper-container-autoheight .swiper-wrapper {
            min-height: 700px !important;
        }
    }
}

.servicos {
    // @include media(big-desktop-up) {
    // grid-template-columns: 1fr 1fr 1fr;
    // }

    // @include media(tablet, desktop-up, big-desktop-up) {
    //     width: 100%;
    //     display: grid;
    //     row-gap: 30px;
    //     column-gap: 30px;
    // }

    // @include media(mobile, tablet) {
    //     grid-template-columns: 1fr;
    // }

    // @media (orientation: landscape) and (max-width: 1024px) {
    //     grid-template-columns: 1fr 1fr;
    // }

    // @include media(desktop-sm) {
    //     grid-template-columns: 1fr 1fr;
    // }

    // @media screen and (width: 1440px) {
    //     grid-template-columns: 1fr 1fr;
    //     width: 160%;
    // }

    // @include media(big-desktop-up) {
    //     grid-template-columns: 1fr 1fr 1fr;
    //     width: 100%;
    // }
}

.item {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 10px 30px -27px;
    padding: 20px;
    box-sizing: border-box;
    height: 610px;

    img {
        border-radius: 20px;
    }

    label {
        font-weight: 600;
        margin-bottom: 30px;
        font-size: 20px;
        color: #1c1c1c;
    }

    .descricao {
        color: #999;
        font-weight: 100;
        flex-grow: 1;
    }

    @include media(mobile) {
        margin-top: 30px;
        width: 100%;
    }

    @include media(tablet) {
        max-width: 100%;
    }
}

hr.vertical {
    display: none;

    @include media(desktop-up) {
        width: 1px;
        border: none;
        border-right: 1px #cecece solid;
        height: 100%;
        display: block;
    }

    @include media(big-desktop-up) {
        height: 80vh;
    }
}

.saiba-mais {
    height: 200px;

    @include media(mobile, tablet, desktop) {
        width: 50%;
        margin-top: 30px;
    }

    button {
        max-width: 150px;
        .mat-icon {
            width: 15px;
            height: 15px;
            line-height: 15px;
        }
    }
}
