@import "../../../assets/css-breakpoints-mixin.scss";

:host {
    display: flex;
    padding: 70px 30px;
    box-sizing: border-box;
    overflow: hidden;

    @include media(mobile, tablet, desktop-sm) {
        flex-direction: column;
        align-items: center;
    }

    @include media(desktop-up) {
        flex-direction: row;
    }
}

.servicos {
    @include media(tablet) {
        flex-direction: column;
    }
}

.titulo {
    @include media(mobile, tablet, desktop) {
        width: 100%;
        align-self: flex-start;
    }

    @include media(desktop-up, big-desktop-up) {
        width: auto;
    }

    @media screen and (width: 1440px) {
        width: 30%;
    }

    div {
        line-height: 35px;
    }
    h1,
    h2 {
        color: #1c1c1c;
        font-size: 50px;
        margin: 0;
        width: 193px;
        font-weight: 700;
    }
    h2 {
        font-size: 30px;
        font-weight: 100;
    }
}

.servicos {
    @include media(big-desktop-up) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include media(tablet, desktop-up, big-desktop-up) {
        width: 100%;
        display: grid;
        row-gap: 30px;
        column-gap: 30px;
    }

    @include media(mobile, tablet) {
        grid-template-columns: 1fr;
    }

    @media (orientation: landscape) and (max-width: 1024px) {
        grid-template-columns: 1fr 1fr;
    }

    @include media(desktop-sm) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (width: 1440px) {
        grid-template-columns: 1fr 1fr;
        width: 160%;
    }

    @include media(big-desktop-up) {
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }
}

.item {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 10px 30px -27px;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;

    img {
        border-radius: 20px;
    }

    label {
        font-weight: 600;
        margin-bottom: 30px;
        font-size: 20px;
        color: #1c1c1c;
    }

    .descricao {
        color: #999;
        font-weight: 100;
    }

    @include media(mobile) {
        margin-top: 30px;
        width: 100%;
    }

    @include media(tablet) {
        max-width: 100%;
    }

}

hr.vertical {
    display: none;

    @include media(desktop-up) {
        width: 1px;
        border: none;
        border-right: 1px #cecece solid;
        height: 120vh;
        display: block;
    }

    @include media(big-desktop-up) {
        height: 80vh;
    }
}

.saiba-mais {
    height: 200px;

    @include media(mobile, tablet, desktop) {
        width: 50%;
        margin-top: 30px;
    }

    button {
        max-width: 150px;
        .mat-icon {
            width: 15px;
            height: 15px;
            line-height: 15px;
        }
    }
}
