<div class="titulo d-flex" #titulo>
    <div class="d-flex flex-col align-end">
        <h2>Nossos</h2>
        <h1>Serviços</h1>
    </div>
</div>
<div class="c-swipper">
    <swiper [slidesPerView]="amount" [spaceBetween]="30" [autoHeight]="true" [pagination]="{ clickable: true,
        dynamicBullets: true }" #swiper
        [autoplay]="{
      delay: 5000,
      disableOnInteraction: false
  }">
        <ng-template *ngFor="let servico of servicos" swiperSlide>
            <div class="item d-flex flex-col">
                <img *ngIf="servico.foto" src="../assets/servicos/{{servico.foto}}" class="mb-2">
                <label>{{servico.title}}</label>
                <div class="descricao">{{servico.descricao}}</div>
                <a [href]="getUrl(servico)" class="mt-4" target="_blank" mat-stroked-button>Marcar Consulta</a>
            </div>
        </ng-template>
    </swiper>
</div>