:host {
    display: flex;
    padding-top: 70px;
    box-sizing: border-box;
    padding-bottom: 70px;
}

.titulo {
    width: 20%;
    div { 
        width: 100%;
        line-height: 35px;
    }
    h1, h2 {
        text-align: right;
        color: #1c1c1c;
        font-size: 50px;
        word-wrap: break-word;
        margin: 0;
        width: 193px;
        font-weight: 700;
    }
    h2 {
        text-align: left;
        font-size: 30px;
        font-weight: 100;
    }
}

.servicos {
    width: 80%;
    margin-left: 40px;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
}

.item {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 10px 30px -27px;
    padding: 20px;
    box-sizing: border-box;

    img {
        border-radius: 20px;
    }

    label {
        font-weight: 600;
        margin-bottom: 30px;
        font-size: 20px;
        color: #1c1c1c;
    }
    
    .descricao {
        color: #999;
        font-weight: 100;
    }
}

hr.vertical {
    width: 1px;
    border: none;
    border-right: 1px #cecece solid;
}

.saiba-mais {
    height: 200px;
    button {
        max-width: 150px;
        .mat-icon {
            width: 15px;
            height: 15px;
            line-height: 15px;
        }
    }
}