:host {
    max-width: 1440px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px -15px;
    padding: 15px;
    margin: auto;
    box-sizing: border-box;
    min-height: 80px;
    z-index: 9;
    background-color: white;
}


button {
    padding: 12px;
    box-sizing: border-box;
    border: none;
    background-color: #447BF5;
    border-radius: 10px;
    margin-left: 20px;
    color: white;
    cursor: pointer;
}

.text-logo {
    margin: 0;
}

.items {
    width: 35%;
}
.menu-item {
    margin: 0 10px;
    a {
        text-decoration: none;
        color: #666;
    }
}
