<button mat-button class="toggle-menu" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
</button>
<div class="grow-1"></div>
<a [href]="urlConsulta" class="agendar" target="_blank">Agendar Consulta</a>
<div class="overlay" [ngClass]="{ 'show': showMenu }" (click)="toggleMenu()"></div>
<div class="menu" [ngClass]="{ 'show': showMenu }">
    <button mat-button class="btn-close" (click)="toggleMenu()">
        <mat-icon>close</mat-icon>
    </button>
    <img class="logo mb-4" src="../../assets/logo.svg" alt="Logo ORTHODESIGN">
    <div class="text-logo">
        <img src="../../assets/logo_horizontal.svg" alt="Logo ORTHODESIGN">
    </div>
    <a [href]="urlConsulta" class="agendar" target="_blank">Agendar Consulta</a>
    <div class="grow-1"></div>
    <div class="items d-flex space-between" #items>
        <div class="menu-item" *ngFor="let menu of menus">
            <a href="#" (click)="scrollOrNavigate(menu, $event)">{{menu.title}}</a>
        </div>
    </div>
</div>