@media screen and (min-width: 1200px) {
  header {
    height: 870px;
    -webkit-background-size: contain;
    background-size: contain;

    p, .cabecalho img, .arrow {
      display: initial !important;
    }

    button.trigger-menu {
      display: none;
    }

    div.cabecalho {
      &.fix {
        position: fixed;
        top: 0;
        width: 100%;
        background: $bgElements;
        //height: 117px;
        z-index: 999;
        box-shadow: 0 -5px 15px #444444 ;

        menu nav:hover::before {
          background: $bTop-color;
        }

        div.info-contato {
          background: rgba(231, 231, 231, 0.5);
        }
      }

      .menu {
        display: flex;
        align-items: center;

        div nav {
          position: relative;
        }
      }

      div.contato {
        font-size: 9pt;
        font-family: sans-serif;
        font-weight: 600;
        display: inline-block;
        line-height: 30px;
        //color: white;

        img {
          width: 30px;
          height: 30px;
        }
      }

      .btn-consulta {
        $self-color: #d6a193;

        float: right;
        margin-right: 10px;
        border-radius: 0;
        border: none;
        background: $self-color;
        color: white;
        font-size: 9pt;
        font-family: sans-serif;
        outline: none;

        &:hover {
          background: lighten($self-color, 8);
        }
      }
    }
  }

  .col {
    flex: 1 0 0 !important;
  }

  section {
    &.equipe {
      div {
        margin: 0;
      }
    }

    &.sobre {
      div.col-md-4 img {
        width: 100%;
      }
    }
  }

  footer {
    padding: 40px;
    font-size: 1.1em;

    [class^="col"] > label {
      font-size: 17pt;
    }

    img {
      width: 22px;
      height: 22px;
    }

  }
}