@media screen and (min-width: 768px) and (max-width: 1199px) {
  body {
    position: relative;
  }

  header {
    background-size: 100% 100%;
    height: 80%;
  }

  section {
    &.sobre {
      div.col-md-4 img {
        width: 260%;
      }
    }

    &.servicos {
      div {
        margin: 10px 25px;
      }
    }

    &.equipe {
      div {
        margin: 10px 25px;
      }
    }

    &.show {
      margin-top: 30px !important;
    }
  }

  footer {
    font-size: 8pt;
    padding: 30px;

    img {
      width: 15px;
      height: 15px;
    }

    [class^="col"] > label {
      font-size: 12pt;
    }

    .fale-conosco {
      margin-bottom: 35px;
    }
  }
}

@media screen and (min-width: 1024px) {
  section {
    &.show {
      margin-top: 100px !important;
    }

    &.servicos {
      opacity: 1 !important;
    }

    &.sobre {
      div.col-md-4 img {
        width: 170%;
      }
    }
  }

  footer {
    .row div[class^="col-"]:not(:first-child) {
      margin-top: 0;
    }
    .horario-funcionamento {
      margin-bottom: 20px;
    }
  }
}


@media screen and (min-width: 320px) and (max-width: 1026px){
  header {
    background-size: 100% 100%;

    .text {
      display: none;
    }

    button.trigger-menu {
      border: none;
      outline: none;
      background: rgba(130, 51, 163, 0.5);
      display: block;
      position: fixed;
      z-index: 999;
      top: 0;
      left: 0;
      padding: 10px;
      width: 50px;
      height: 50px;
      border-radius: 0;
      margin: 5px;

      .dash {
        width: 80%;
        height: 2px;
        background: white;
        margin: auto;
        margin-top: 2px;

        &:not(:first-child) {
          margin: 10px auto;
        }
      }
    }

    .ic {
      width: 40px;
      height: 40px;
      display: block;
      margin: 20% auto 2px auto;

      &.ic-home {
        background: url("../res/icones/ic_home.svg") no-repeat center;
      }
      &.ic-servicos {
        background: url("../res/icones/ic_dente.svg") no-repeat center;
      }
      &.ic-sobre {
        background: url("../res/icones/ic_sobre.svg") no-repeat center;
      }
      &.ic-equipe {
        background: url("../res/icones/ic_equipe.svg") no-repeat center;
      }
      &.ic-fale-conosco {
        background: url("../res/icones/ic_fale_conosco.svg") no-repeat center;
      }
    }

    p, .arrow {
      display: none !important;
    }

    div.cabecalho {
      transition: background .3s ease-in;
      height: 100%;
      margin: auto;

      &.fix {
        position: relative;
      }

      img {
        width: 250px;
        height: 250px;
        margin: auto;
      }

      .menu {
        display: flex;
      }

    }
    menu {
      transition: left .5s ease-in;
      position: fixed;
      overflow: hidden;
      left: -150px;
      top: -20px;
      height: calc(100vh + 20px);
      padding: 0px;
      z-index: 9999;
      box-shadow: 6px 0 20px -10px black;

      &.show {
        left: 0;
      }

      div {
        nav {
          display: block;
          text-align: center;
          margin: 0;
          padding: 5px;
          height: 20%;
          color: white;
          text-align: center;
          font-size: 8pt;
          overflow: hidden;

          div {
            color: white;
            margin: auto;
          }

          &[section="header"] {
            background-color: #D6A193;
          }
          &[section="servicos"] {
            background-color: #E9A897;
          }
          &[section="sobre"] {
            background-color: #F2AF9D;
          }
          &[section="equipe"] {
            background-color: #FFB9A6;
          }
          &[section="footer"] {
            background-color: #FEA68F;
          }
        }
      }
    }
  }

  section {
   &.servicos div {
      margin-top: 10px;
   }

    &.sobre {
      h3 {
        text-align: center;
      }
    }

    &.show {
      margin-top: 30px !important;
    }
  }

  footer {
    .horario-funcionamento {
      margin-bottom: 20px;
    }
  }

}