@media screen and (min-width: 768px) {
  header {
    height: 440px;
    background-size: 100% 100%;

    p, .cabecalho img, .arrow {
      display: none !important;
    }

  }

  section {
    &.sobre {
      div.col-md-4 img {
        width: 260%;
      }
    }

    &.equipe {
      div {
        margin: 10px 25px;
      }
    }

  }
}

@media screen and (min-width: 1024px) {
  section {
    &.show {
      margin-top: 100px !important;
    }

    &.servicos {
      opacity: 1 !important;
    }

    &.sobre {
      div.col-md-4 img {
        width: 170%;
      }
    }

  }

}