/* You can add global styles to this file, and also import other style files */
@import "~swiper/swiper-bundle";
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;700&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;700&family=Montserrat&display=swap");
@import './assets//css-breakpoints-mixin';

body,
html {
    padding: 0;
    margin: 0;
    font-family: "Helvetica", "sans-serif";
}

.container {
    margin: auto;
    margin-top: 120px;
    height: calc(100% - 160px);

    @include for-tablet-landscape-up {
        width: 960px;
    }

    @include for-big-desktop-up {
        width: 1440px;
    }
}

.titulo {
    h1,
    h2 {
        text-align: right;
        color: #1c1c1c;
        font-size: 50px;
        margin: 5px 0;
        width: 127px;
        font-weight: 700;
    }
    h2 {
        text-align: left;
        font-size: 30px;
        font-weight: 100;
    }
}

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.grow-1 {
    flex-grow: 1;
}

@for $i from 1 to 5 {
    .mb-#{$i} {
        margin-bottom: #{$i * 10}px;
    }
    .mt-#{$i} {
        margin-top: #{$i * 10}px;
    }
    .ml-#{$i} {
        margin-left: #{$i * 10}px;
    }
    .mr-#{$i} {
        margin-right: #{$i * 10}px;
    }
}

section {
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Montserrat", "Helvetica", "sans-serif";
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
