<div class="foto" #foto>
    <img src="../../../assets/sobre.jpg" alt="Dra. Yasmin Pinho Esmeraldo">
</div>
<div class="sobre" #sobre>
    <div class="conteudo">
        <div class="titulo" #titulo>
            <h2>Sobre a</h2>
            <h1>Ortho</h1>
        </div>
        <div class="descricao mt-3" #descricao>
            A Orthodesign é uma clínica de especialidades odontológicas que iniciou em 2016.
            Com um quadro de profissionais especializados, que acreditam numa Odontologia diferente: uma Odontologia
            humanizada para atender toda a família.
            A ideia sempre foi prestar uma Odontologia de alto nível com um tratamento multidisciplinar, buscando
            entregar um resultado de excelência.
            O nosso foco é a promoção de saúde e autoestima.
        </div>
    </div>
</div>