@import "../../../assets/css-breakpoints-mixin.scss";

:host {
    display: flex;
    padding-top: 70px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    @include media(mobile, tablet) {
        flex-direction: column;
    }

    @include media(desktop-sm) {
        flex-direction: row;
    }
}

img {
    height: 500px;
    box-shadow: 0 10px 70px -27px;
    display: block;
}

.foto {
    z-index: 9;

    @include media(tablet, desktop-up) {
        margin-right: -40px;
    }
}

.sobre {
    margin-top: 100px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0 10px 30px -27px;
    width: 90%;
    
    @include media(desktop-sm) {
        min-height: 600px;
        width: 50%;
    }

    .conteudo {
        @include media(desktop-sm) {
            margin-left: 60px;
        }
    }

    .descricao {
        font-size: 16px;
    }
}
